@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMDg4NTQ5NC1aaWppYW46Zkh4aFJ2S3diOEE5aXRCZzhHNG5jZHg3aFo1VUxXemo=
always-auth=true

